.feed {
    width: 45%;
    height: 100vh;
    background-color: #f6f8f9;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
}
.tweets_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    border-bottom: 1px solid #f3f3f3;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.logo {
    height: 1.5rem;
    width: 1.5rem;
}