.menu {
    display: none;
    width: 5rem;
    border: 1px solid #f3f3f3;
    background-color: white;
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
}
.menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    font-size: small;
}
.menu span:hover {
    background-color: whitesmoke;
}