.tweet {
    display: flex;
    margin: 1px 0px;
    background-color: white;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    z-index: 1;
}
.user_image {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px 5px;
}
.bold {
    font-weight: bold;
}
.uname,
.tweet_time {
    color: gray;
    padding-left: 5px;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}
.content * {
    margin: 2px 0;
}
.image {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 100%;
}
.icon {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}
.panel {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin: 5px 0px;
}
.new_tweet {
    display: flex;
    background-color: white;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 0.2rem;
}
.add_tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
    flex-wrap: wrap;
}
.new_tweet_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tweet_button {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 10rem;
    padding: 10px 15px;
    background-color: #248cfa;
    color: white;
    border: none;
    margin: 15px;
}
.textarea,
.textarea_edit {
    resize: none;
    height: 4rem;
    padding: 0.2rem;
    color: black;
    font-size: 1.15rem;
    outline: none;
    border: none;
}
.textarea_edit {
    display: none;
    font-size: 1rem;
}
.new_tweet_icons {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.new_tweet_icons img {
    cursor: pointer;
}
.tweet_icon {
    height: 1.2rem;
    width: 1.2rem;
}
.heading {
    display: flex;
    justify-content: space-between;
}
.dots {
    padding: 0;
    margin: 0 10px;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}
.tweet_count {
    display: flex;
}
.card_content *{
    margin: 0 2px;
}
.user {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
.count {
    color: gray;
    margin-left: 3px;
}
.container {
    position: relative;
}
@media (min-width: 850px) and (max-width: 1000px) {
    .image {
        height: 2.5rem;
        width: 2.5rem;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    .new_tweet_icons {
        width: 20%;
    }
    .tweet_button {
        padding: 8px 10px;
        margin: 10px;
    }
    .image {
        height: 2rem;
        width: 2rem;
    }
}
@media (max-width: 600px) {
    .tweet_text,
    .card_content,
    .tweet_time {
        font-size: 0.9rem;
    }
    .tweet_button {
        padding: 5px 10px;
        margin: 10px;
    }
    .user_image {
        width: 13%;
    }
    .textarea {
        font-size: medium;
    }
    .new_tweet_icons {
        width: 35%;
    }
    .image {
        height: 2.5rem;
        width: 2.5rem;
    }
    .tweet_icon {
        height: 1rem;
        width: 1rem;
    }
}