.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 100%;
}
.nav_logo {
    width: 70%;
    margin-top: 0.2rem;
}
.nav_items {
    width: 70%;
}
.twitter_logo {
    height: 2rem;
    width: 2.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
}
.twitter_logo:hover {
    background-color: #e9f2ff;
}
.item_logo {
    height: 1.5rem;
    width: 1.5rem;
    margin-right:1rem;
}
.item {
    display: flex;
    height: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px 0;
    align-items: center;
    cursor: pointer;
    border-radius: 10rem;
    width: fit-content;
    padding: 10px 15px;
}
.item_button {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10rem;
    padding: 15px;
    width: 12rem;
    background-color: #248cfa;
    color: white;
    border: none;
}
.item:hover {
    background-color: #e9f2ff;
    color: #248cfa;
}