.sidebar {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar_area {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
} 
.search {
    width: 90%;
    padding: 1rem;
    background-color: #ebeef0;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.floating_panel {
    width: 90%;
    background-color: #f7f9fa;
    height: 50vh;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
}
.trend_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.trend {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.tweets {
    color: gray;
    font-size: 0.9rem;
}